// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";

body {
  background-color: #ffe6ee;
  text-align: center;
}

h1, h2, p {
  font-family: Open Sans, Arial;
  color: #e388a7;
}

a {
  color: #E388A7;
}

a:hover {
  color: #ff99bb;
  text-decoration: none;
}

.card {
  background-color: #F8F8F8;
  color: #ff99bb;
  text-align: center;
  width: 600px;
  padding: 7px;
  margin: 15px;
  border-radius: 20px;
}

.form-stuff {
  width: 300px;
  color: #ff99bb;
}

.form-control {
  border-radius: 10px;
  border-color: #ff99bb;
  color: #ff99bb;
}

.form-control:focus {
   border-color: #E388A7;
}

.btn-pink {
  color: #ff99bb;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ff99bb;
  padding: 5px;
}

.btn-pink:hover {
  color: #ff99bb;
  background-color: #ffe6ee;
  border-color: none;
  text-decoration: none;
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
